<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for category in category.post.all %}
        <p>
            {{ category.title }}
        </p>
        <p>
            {{ category.slug }}
        </p>
        <p>
            {{ category.price }}
        </p>
        <p>
            {% for cat in category.category.all %}
                <a href="#">#{{cat.name}}</a>
            {% endfor %}
        </p>
    {% endfor %}
</body>
</html>