{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>دارو</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
   <body>
      <!-- header section start -->
      {% include '../header/header.html' %}
      <!-- header section end -->
      <!-- knowledge section end -->
     <div class="knowledge_section layout_padding margin_90">
         <div class="container">
            <div class="knowledge_main">
               <div class="left_main">
                  <h1 class="knowledge_taital">مرکز دانش</h1>
                  <p class="knowledge_text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
               </div>
               <div class="right_main">
                  <div class="play_icon"><a href="#"><img src="{% static 'images/play-icon.png' %}"></a></div>
               </div>
            </div>
         </div>
      </div>

   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="footer_logo"><a href="../home/index.html"><img src="{% static 'images/footer-logo.png' %}"></a></div>
               <h1 class="adderss_text">تماس با ما</h1>
               <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"><span class="paddlin_left_0">صفحه هنگام مشاهده آن</span></div>
               <div class="map_icon"><img src="{% static 'images/call-icon.png' %}"><span class="paddlin_left_0">+۷۵۸۶۶۵۶۵۶۶</span></div>
               <div class="map_icon"><img src="{% static 'images/mail-icon.png' %}"><span class="paddlin_left_0">volim@gmail.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">پزشکان</h1>
               <div class="hiphop_text_1">انواع مختلفی از متون لورم ایپسوم موجود است، اما اکثر آنها دچار تغییراتی شده‌اند، به‌وسیله طنز تزریقی،</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">لینک‌های مفید</h1>
               <div class="Useful_text">انواع مختلفی از متون لورم ایپسوم موجود است، اما اکثر آنها دچار تغییراتی شده‌اند،</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">خبرنامه</h1>
               <input type="text" class="Enter_text" placeholder="ایمیل خود را وارد کنید" name="Enter your Emil">
               <div class="subscribe_bt"><a href="#">اشتراک</a></div>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2019 All Rights Reserved. Design by <a href="https://html.design">Free html Templates</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>
   <!-- javascript -->
   <script src="{% static 'js/owl.carousel.js' %}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>