<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for profile in profile %}
        <p>
            {{ profile.first_name }}
        </p>
        <p>
            {{ profile.last_name }}
        </p>
        <p>
            {{ profile.nationality_code }}
        </p>
        <p>
            {{ profile.personal_code }}
        </p>
        <p>
            {{ profile.date_of_birth }}
        </p>
        <p>
            {{ profile.city }}
        </p>
        <p>
            {{ profile.address }}
        </p>
        <p>
            موجودی حساب{{ profile.qty }}
        </p>
        {% if profile.verify == False %}
            حساب شما تایید نشده در انتظار تایید{{ profile.verify }}
        {% endif %}
        {% if profile.verify == True %}
            حساب شما تایید شده است{{ profile.verify }}
        {% endif %}
        <p>
            <img src="{{ profile.photo.url }}" alt="" width="250" height="250">
        </p>
        <p>
            <img src="{{ profile.nationality_photo.url }}" alt="" width="250" height="250">
        </p>
        <p>
            <img src="{{ profile.photo.url }}" alt="" width="250" height="250">
        </p>
    {% endfor %}
</body>
</html>