{% load static %}

<div class="footer_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-sm-6">
             <div class="footer_logo"><a href="../home/index.html"><img src="{% static 'images/footer-logo.png' %}"></a></div>
             <h1 class="adderss_text">تماس با ما</h1>
             <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"><span class="paddlin_left_0">صفحه هنگام مشاهده آن</span></div>
             <div class="map_icon"><img src="{% static 'images/call-icon.png' %}"><span class="paddlin_left_0">+۷۵۸۶۶۵۶۵۶۶</span></div>
             <div class="map_icon"><img src="{% static 'images/mail-icon.png' %}"><span class="paddlin_left_0">volim@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">پزشکان</h1>
             <div class="hiphop_text_1">انواع مختلفی از متون لورم ایپسوم موجود است، اما اکثر آنها دچار تغییراتی شده‌اند، به‌وسیله طنز تزریقی،</div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">لینک‌های مفید</h1>
             <div class="Useful_text">انواع مختلفی از متون لورم ایپسوم موجود است، اما اکثر آنها دچار تغییراتی شده‌اند،</div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">خبرنامه</h1>
             <input type="text" class="Enter_text" placeholder="ایمیل خود را وارد کنید" name="Enter your Emil">
             <div class="subscribe_bt"><a href="#">اشتراک</a></div>
             <div class="social_icon">
                <ul>
                   <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                   <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>